@using Glass.Mapper.Sc.Web.Mvc
@using Carlsberg.Foundation.Dictionary.Repositories
@inherits System.Web.Mvc.WebViewPage<Carlsberg.Feature.Faq.Models.FaqCategoryPageModel>
@{
    var qCounter = 1;
}
<div class="facets-wrapper">
    <div class="facets-filters js-filter">
        <!--
        <div id="category_mobile_facet_button" class="subnavigation-button visible-xs">
            <button type="button" class="cta__button cta__button--refine">Menu</button>
        </div> -->

        <nav class="subnavigation js-subnavigation" role="menubar">
            <div class="subnavigation--contentwrapper">
                <h4 class="heading heading--menu">@DictionaryPhraseRepository.Current.Get("/Faq/Faqs", "FAQ's")</h4>
                <ul class="list-unstyled filter-options">
                    @foreach (var category in Model.FaqCategoryMenu.FaqOverview.FaqCategories)
                    {
                        <li role="menuitem">
                            <a href="@category.Url">@category.Title</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>

    </div>

    <div class="facets-content mobile-sticky-hidden">
        <div class="row">
            <div class="col-xs-12">
                <main role="main" class="section-loading">
                    <section class="introduction introduction--nopad">

                        @Html.Sitecore().Placeholder("breadcrumb")


                        <h1 class="introduction-title">@Html.Glass().Editable(model => model.FaqCategory.Title)</h1>
                        <div class="introduction-text">
                            @Html.Glass().Editable(model => model.FaqCategory.Description)
                        </div>
                    </section>

                    <div class="accordion accordion--faq js-faq-category" id="accordion" data-category="@Model.FaqCategory.Title">
                        @using (Html.Glass().BeginEditFrame(Model.FaqCategory, "Questions and Answers", m => m.QuestionsAnswers))
                        {
                            if (Sitecore.Context.PageMode.IsExperienceEditor)
                            {
                                <p>[Choose your questions and answers here and then click on save to see your changes]</p>
                            }
                            foreach (var qa in Model.FaqCategory.QuestionsAnswers)
                            {
                                <div class="accordion-group" id="qa@(qCounter)">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle js-faq-question-link" data-toggle="collapse" data-parent="#accordion" data-question="@qa.Question" href="#q@(qCounter)">
                                            <span class="accordion-faq-prefix">@DictionaryPhraseRepository.Current.Get("/Faq/QuestionSingleLetter", "Q")</span>
                                            @Html.Glass().Editable(qa, q => q.Question)
                                        </a>
                                    </div>
                                    <div id="q@(qCounter++)" class="accordion-body collapse @(Sitecore.Context.PageMode.IsExperienceEditor ? "in" : "")">
                                        <div class="accordion-inner">
                                            <span class="accordion-faq-prefix">@DictionaryPhraseRepository.Current.Get("/Faq/AnswerSingleLetter", "A")</span>
                                            @if (qa.Answer.StartsWith("<p>"))
                                            {
                                                @Html.Glass().Editable(qa, q => q.Answer)
                                            }
                                            else
                                            {
                                                <p>@Html.Glass().Editable(qa, q => q.Answer)</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>
